<br>
@if(!editMode && ! addMode){
<div class="row">
    <div class="col-md-5 form-group">
        <h5>Attendance Records</h5>
    </div>
    <div class="col-md-3 form-group">
        <div class="d-grid gap-2 d-md-flex justify-content">
            <button class="btn btn-success" (click)="onAddMode()">Add</button>
            <button class="btn btn-outline-primary" (click)="onEmployeeDetails()">Back</button>
        </div>
    </div>
</div>
<div>
    <ul>
        @for(group of groupedAttendanceRecords; track group;){
        <h6 class="text-primary">{{group.month}}</h6>
        <div>
            <table class="table table-hover">
                <thead>
                    <tr class="table table-success">
                        <th scope="col">Index</th>
                        <th scope="col">Status</th>
                        <th scope="col">Date</th>
                        <th scope="col">Checkin Time</th>
                        <th scope="col">Checkout Time</th>
                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody>
                    @for (attendance of group.records; track attendance.id; let index = $index) {
                    <tr>
                        <th scope="row">{{index+1}}</th>
                        <td>{{attendance.status}}</td>
                        <td>{{attendance.date}}</td>
                        <td>{{attendance.checkInTime || 'N/A'}}</td>
                        <td>{{attendance.checkOutTime || 'N/A'}}</td>
                        <td class="d-grid gap-2 d-md-flex justify-content">
                            <button class="btn btn-primary" (click)="onEditMode(attendance.id)">Edit</button>
                            <button class="btn btn-danger" (click)="onDeleteRecord(attendance.id)">Delete</button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        }
    </ul>
</div>
}
@else if(editMode){
<div>
    <br>
    <form #recordEditMode="ngForm" (ngSubmit)="onEditSubmit()">
        <h3>Edit Attendance Record</h3>
        <br>

        <!--Date-->
        <div class="row">
            <div class="col-md-3 form-group">
                <label for="date">Date: {{editedRecord.date}}</label>
            </div>
        </div>
        <br>

        <!--CheckIn Time-->
        <div class="row">
            <div class="col-md-3 form-group">
                <label for="checkInTime">CheckIn Time:</label>
                <input type="time" class="form-control" id="checkInTime" name="checkInTime"
                    [(ngModel)]="this.selectedAttendanceRecord.checkInTime" #checkInTime="ngModel" required>
                @if(checkInTime.invalid && checkInTime.touched){
                <small class="text-danger">Required</small>
                }
            </div>
            <div class="col-md-3 form-group">
                <label for="currentHireDate">Current CheckIn Time: {{editedRecord.checkInTime}}</label>
            </div>
        </div>-
        <br>

        <!--CheckOut Time-->
        <div class="row">
            <div class="col-md-3 form-group">
                <label for="checkOutTime">CheckOut Time:</label>
                <input type="time" class="form-control" id="checkOutTime" name="checkOutTime"
                    [(ngModel)]="this.selectedAttendanceRecord.checkOutTime" #checkOutTime="ngModel" required>
                @if(checkOutTime.invalid && checkOutTime.touched){
                <small class="text-danger">Required</small>
                }
            </div>
            <div class="col-md-3 form-group">
                <label for="currentHireDate">Current CheckIn Out: {{editedRecord.checkOutTime}}</label>
            </div>
        </div>
        <br>

        <!--Attendance Status-->
        <div class="row">
            <div class="col-md-3 form-group">
                <label for="status">Attendance Status:</label>
                <select class="form-control custom-select" id="status" name="status"
                    [(ngModel)]="this.selectedAttendanceRecord.status" #status="ngModel">
                    <option [value]="-1" disabled>---Select a Status---</option>
                    @for(status of attendanceStatuses; track status; let index= $index){
                    <option [value]="attendanceStatusValue[index]">{{status}}</option>
                    }
                </select>
                @if(status.invalid && status.touched){
                <small class="text-danger">Required</small>
                }
            </div>
        </div>
        <br>

        <!-- Buttons -->
        <div class="row">
            <div class="col-md-3 form-group">
                <br>
                <div class="d-grid gap-2 d-md-flex justify-content">
                    <button type="submit" class="btn btn-success">Update</button>
                    <button type="button" class="btn btn-warning" (click)="onCancelForm()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

}
@else if(addMode){
<div>
    <br>
    <form #recordAddMode="ngForm" (ngSubmit)="onAddSubmit(recordAddMode)">
        <h3>Add New Attendance Record</h3>
        <br>

        <!--Date-->
        <div class="row">
            <div class="col-md-4 form-group">
                <label for="date">Date:</label>
                <input type="date" class="form-control" id="date" name="date" [(ngModel)]="this.newRecord.date"
                    #date="ngModel" required>
                @if(date.invalid && date.touched){
                <small class="text-danger">Required</small>
                }
            </div>
        </div>
        <br>

        <!--CheckIn Time-->
        <div class="row">
            <div class="col-md-4 form-group">
                <label for="checkInTime">CheckIn Time:</label>
                <input type="time" class="form-control" id="checkInTime" name="checkInTime"
                    [(ngModel)]="this.newRecord.checkInTime" #checkInTime="ngModel" required>
                @if(checkInTime.invalid && checkInTime.touched){
                <small class="text-danger">Required</small>
                }
            </div>
        </div>
        <br>

        <!--CheckOut Time-->
        <div class="row">
            <div class="col-md-4 form-group">
                <label for="checkOutTime">CheckOut Time:</label>
                <input type="time" class="form-control" id="checkOutTime" name="checkOutTime"
                    [(ngModel)]="this.newRecord.checkOutTime" #checkOutTime="ngModel" required>
                @if(checkOutTime.invalid && checkOutTime.touched){
                <small class="text-danger">Required</small>
                }
            </div>
        </div>
        <br>

        <!--Attendance Status-->
        <div class="row">
            <div class="col-md-4 form-group">
                <label for="status">Attendance Status:</label>
                <select class="form-control custom-select" id="status" name="status" [(ngModel)]="this.newRecord.status"
                    #status="ngModel">
                    <option [value]="-1" disabled>---Select a Status---</option>
                    @for(status of attendanceStatuses; track status; let index= $index){
                    <option [value]="attendanceStatusValue[index]">{{status}}</option>
                    }
                </select>
                @if(status.invalid && status.touched){
                <small class="text-danger">Required</small>
                }

            </div>
        </div>
        <br>

        <!-- Buttons -->
        <div class="row">
            <div class="col-md-3 form-group">
                <br>
                <div class="d-grid gap-2 d-md-flex justify-content">
                    <button type="submit" class="btn btn-success">Add</button>
                    <button type="button" class="btn btn-warning" (click)="onCancelForm()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
}